.navitems{
    display: flex;
    align-items: center;
    gap:2rem;
    /* background-color: white; */
}
.navdiv{
    display:flex;
    padding: 1rem 3rem;
    justify-content:space-between;
    align-items:center;
    -webkit-box-shadow: -2px -1px 15px 7px rgba(29, 28, 28, 0.377);
    -moz-box-shadow: -3px -2px 14px 14px rgba(29, 28, 28, 0.377);
    box-shadow: -4px -3px 14px 14px rgba(29, 28, 28, 0.377);
    background-color: white;
}
*{
    margin: 0;
    /* background-color: #f9f9f7; */
}
.Navbutton{
    display: flex;
    gap:1rem;
    padding: 0px 3rem 0px 4rem;
}